:root {
  --background-color: #242424;
  --primary-color: #3498db;
  --secondary-color: #2ecc71;

  --primary-gray: #929292;
  --secondary-gray: #c9c9c9;

  --primary-blue: #467fa4;
  --secondary-blue: #115d8e;

  --primary-yellow: #bfa14b;

  --primary-red: #a63610;
  --secondary-red: #ff0000;

  --text-color: #ffffff;

  --primary-black: #232323;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  position: relative;
  min-width: 320px;
}
