.table-component {
  margin: 16px;
  width: 100%;
  height: calc(100vh - 32px);
  overflow: auto;

  &__thead-tr {
    background-color: var(--primary-blue);
    position: sticky;
    top: 0;
  }

  &__thead-th {
    padding: 12px;

    &_checkbox {
      width: 48px;
    }

    &_buttons {
      width: 58px;
    }
  }

  &__thead-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__table {
    width: 100%;
  }

  &__thead-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__add-company-button {
    background-color: var(--secondary-blue);
  }

  &__tbody-row {
    background-color: var(--primary-gray);

    &_selected {
      background-color: var(--primary-yellow);
    }
  }

  &__tbody-td {
    padding: 8px;
    height: 48px;

    &_checkbox {
      width: 48px;
    }

    &_buttons {
      width: fit-content;
    }
  }
}
