.table-component {
  margin: 16px;
  width: 100%;
  height: calc(100vh - 32px);
  overflow: auto;

  &__thead {
  }
  &__thead-tr {
    background-color: var(--primary-blue);
    position: sticky; /* Закрепляем заголовок при прокрутке */
    top: 0; /* Располагаем заголовок вверху контейнера */
  }

  &__thead-th {
    height: 48px;
    padding: 12px;
  }

  &__table {
    width: 100%;
    // overflow-y: scroll;
    overflow-y: auto;
  }

  &__thead-th {
    &_buttons {
      max-width: 160px;
    }
  }

  &__thead-buttons {
    display: flex;
    // flex-direction: column;
    gap: 10px;
  }

  &__add-company-button {
    background-color: var(--secondary-blue);
  }

  &__tbody {
    // height: 100%;
    height: calc(100% - 48px); /* Subtract header height to fit within container */
    overflow-y: auto; /* Enable vertical scrolling */
  }
}
